body {
    font-family: Segoe UI, Verdana, Geneva, Tahoma, sans-serif;
    
    color: #ffffff;
    background-color: #333333;
}

textarea {
    outline: none;

    width: 100%;

    margin-top: 0.5em;
    margin-bottom: 0.5em;

    resize: none;
}

#codearea {
    width: 100%;
    background: #111111;
    color: #ffffff;
    border: none;
    padding: 0.4em;
}

#resultarea {
    background: #333333;
    color: #ffffff;
    border: none;
}

#gobutton {
    width: 8.0em;
    height: 3.0em;

    background-color: #009900;
    color: #ffffff;

    border: none;
    border-radius: 8px;

    padding: 1.0em;
    
    font-size: 1.0em;

    transition-duration: 0.3s;
    
    outline: none;

}
#gobutton:hover {

    background-color: #00ee00;
    
}

#nextbutton {
    width: 8.0em;
    height: 3.0em;

    background-color: #009900;
    color: #ffffff;

    border: none;
    border-radius: 8px;

    padding: 1.0em;
    
    font-size: 1.0em;

    transition-duration: 1.0s;
    
    outline: none;
    
    opacity: 0;

}
#nextbutton:hover {

    background-color: #00ee00;
    
}

#top {
    height: 3.0em;
    width: 100%;

    position: fixed;

    top: 0.0em;
    left: 0;

    overflow-x: hidden;
    
    background-color: #444444;

    box-shadow: 0px 2px 4px #000000;

    z-index: 2;
}

#banner-text {
    text-align: center;
    font-size: 1.5em;
    font-family: Courier New, Consolas, monospace;
    margin: 0.3em;

    color: #00ff00;
}

#left-explanation {
    
    position: fixed;

    top: 3.0em;
    left: 0;

    height: calc(100% - 3.0em);
    width: 30%;

    overflow-x: hidden;

    padding: 10px;
    
    background-color: #222222;

    z-index: 0;
}

#left-explanation::-webkit-scrollbar {
    width: 6px;
}


#left-explanation::-webkit-scrollbar-track {
    opacity: 0;
}

#left-explanation::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 5px;
}

#left-explanation::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

#right-editor {
    
    position: fixed;
    
    top: 3.0em;
    right: 0;

    height: calc(100% - 3.0em);
    width: 68%;

    overflow-x: hidden;
    padding: 10px;

    z-index: 0;
}

code {
    font-size: 1.1em;
    background: #111111;
    padding: 2px;
    color: #ffffff;
}

pre {
    background: #111111;
    padding: 5px;
}

a {
    color: #23a9f2;
    text-decoration: none;
}
a:visited {
    color: #23a9f2;
}